<table class="table table-striped">
  <thead>
    <tr>
      <th>Favorites</th>
    </tr>
  </thead>
  <tbody>
    <% @user_routes.each do |route| %>
      <tr>
        <td><%= route.name %></td>
        <td><%= link_to "Delete this route", user_route_path(route),
                      method: :delete,
                      class: "btn btn-xs btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
